<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автоматизация кредитов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Система автоматизации кредитов</h1>
        <nav>
            <a href="{{ url_for('bank_login') }}">Логин для банка</a>
            <a href="{{ url_for('apply_loan') }}">Подать заявку на кредит</a>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© Ачинович Евгений. 2025 Автоматизация кредитов.</p>
    </footer>
</body>
</html>
